#header .logo{
	text-transform: none;
}

h4{
	margin-bottom: 0;
}

@media screen and (max-width: 736px) {

	#header {
		padding: 0.6em 0 0.1em 0;
	}

	#header nav {
		right: 0.3em;
		top: 0.3em;
	}

	#header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
		background-size: 1.5em 1.5em;
	}

}

#header {
	padding: 1.5em 0 0.1em 0;
}


.container .h-forum{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #467ab8;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	color: white;
}

.container .b-forum{
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-scope{
	background-color: #00ffff;
}

.btn-scope:hover{
	background-color: darkgrey;
}