body{
	background-color:#00ffff;
}
.container{
	margin: 0 auto;
}

tr{
	border-bottom:1px solid #a9a9a9;
	line-height:50px;
}
td{
	border-right:1px solid white;
	
}
.titre{
	background-color:#a9a9a9;
	text-align:center;
	
}